:root {
    --primary-green: #5dc0a6;
    --primary-dark-green: #267346;
    --primary-red: #f94943;
    --primary-dark-red: rgba(255, 7, 0, 1);
    --primary-dark-blue: #1B1834;
    --primary-blue-black: #1B1919;
    --primary-silver: #8B8897;
}

body {
    background-color: var(--primary-dark-blue);
    color: white;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: unset;
    cursor: default;
}

.centered-row {
    text-align: center;
}

.table-title {
    padding: 7px;
    border-radius: 3px;
    font-size: 20px;
}

.covid-table {
    margin: 60px;
    background-color: white;
    color: black;
}

.reset-button {
    margin-left: 10px;
    color: white;
    background-color: var(--primary-green);
    padding: 10px;
    border-radius: 3px;
}

.reset-button:hover {
    background-color: var(--primary-red);
}

.loading-bar {
    display: block;
    margin: auto;
    padding-top: 100px;
}

.loading-icon {
    display: block;
    margin: auto;
}

.menu-bar {
    background-color: var(--primary-blue-black);
    display: flow-root;
    margin: -7px;
}

.menu-bar-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-bar-items > li > a {
    float: right;
    padding: 13px;
    color: var(--primary-silver);
}

.menu-bar-items > li a:hover {
    background-color: var(--primary-dark-green);
    color: white;
}